<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthHelper"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".user.ui.auth.AuthSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".user.ui.main.TrainerMainActivity" />
        <activity
            android:name=".user.ui.main.UserMainActivity" />
        <activity
            android:name=".user.ui.login.LoginActivity"
            android:exported="true" />

        <!-- PT 수락/거절 알림창-->
        <activity android:name=".trainerclientrequest.ui.TrainerRequestListActivity" />

        <!-- 트레이너 내 회원 리스트 조회 -->
        <activity android:name=".trainerclientrequest.ui.MyClientsActivity" />

        <!-- 수락 후 트레이너 pt 등록 -->
        <activity android:name=".ptsession.ui.PtRegisterActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>